<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Resultados de Clasificación</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="contenedor">
        <h1>Resultados de Clasificación</h1>
        <h3>Imagen cargada:</h3>
        <img src="{{ img_path }}" alt="Imagen subida" width="200">

        <h3>Predicción visual:</h3>
        <img src="/static/comparacion_prediccion.png" alt="Predicción visual" width="400">

        <h3>Matriz de Confusión (CNN):</h3>
        <img src="/static/confusion_matrix_cnn.png" alt="Matriz CNN" width="500">

        <h3>Matriz de Confusión (Random Forest):</h3>
        <img src="/static/confusion_matrix_rf.png" alt="Matriz RF" width="500">

        <h3>Comparación de Modelos:</h3>
        <img src="/static/comparacion_modelos.png" alt="Comparación modelos" width="600">

        {% if logs %}
            <h3>Detalles Técnicos:</h3>
            <p>{{ logs | safe }}</p>
        {% endif %}
    </div>
</body>
</html>
